target/

javascript-maven-plugin/.classpath

javascript-maven-plugin/.project

*.prefs

js-import-maven-plugin/.classpath

js-import-maven-plugin/.project

java-phresco-plugin/.project

dotnet-phresco-plugin/.project

jstest-maven-plugin/.classpath

wordpress-phresco-plugin/.project

.project

android-maven-plugin/.classpath

blackberry-phresco-plugin/.classpath

android-phresco-plugin/.classpath

ci-phresco-plugin/.classpath

consumer-site-plugin/.classpath

dotnet-phresco-plugin/.classpath

drupal-phresco-plugin/.classpath

java-phresco-plugin/.classpath

js-testrunner-plugin/.classpath

jslint-maven-plugin/.classpath

nodejs-phresco-plugin/.classpath

php-phresco-plugin/.classpath

report-phresco-plugin/.classpath

wordpress-phresco-plugin/.classpath

xcode-maven-plugin/.classpath

windows-phone-phresco-plugin/.classpath

sitecore-phresco-plugin/.classpath

xcode-phresco-plugin/.classpath

sharepoint-phresco-plugin/.classpath

plugin-commons/.classpath

wordpress-phresco-plugin/.project

java-phresco-plugin/.project

jstest-maven-plugin/.classpath

wordpress-phresco-plugin/.project
